{% extends "auctions/layout.html" %}

{% block body %}

    <h1>  Listing: {{listing.title}}</h1>
    <div>Added by: {{listing.user.username}}</div>
    <div> Description: {{listing.description}}</div>
    <div> Price: {{listing.price}} </div>
    {% if listing.image_url %}
        <img src = {{listing.image_url}}, alt = "image">
    {% endif %}
    <div>
        <a href="{% url 'index' %}">back to listing page</a>
    </div>

    {% if user.is_authenticated %}
        {%if users%}
            {% if user in users %}
                <input type="submit" value="Remove From WatchlistWatchlist">
            {% else %}
            <form action="{% url 'addToWatchlist' listing.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="users" value="{{user.id}}">
                <input type="submit" value="Add to watchlist">
            </form>
            {% endif %}
        {% else %}
        <form action="{% url 'addToWatchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="users" value="{{user.id}}">
            <input  type="submit" value="Add to watchlist">
        </form>

        {% endif %}
    {% endif %}
{% endblock %}